@import '../../styles/variables';
.CenterCard {
  margin: 0 5px 0 5px;
  height: 87vh;
  overflow: hidden;
  background-color: $background-card;
  }
  
  .Link {
    color: $link  !important
  }
  
  .Link:hover {
    color: $link-hover  !important
}