.Row {
  height: 89vh;
  margin: 0 2px 0 2px
}

.ColumnPadding {
  border: red solid 1px;
  background-color: red;
}
.Carousel {
  // max-height: 500px;
  height: 100%;
  color: #fff;
  line-height: 500px;
  text-align: center;
  background: #364d79
}