@import "../styles/_global.scss";
@import '../styles/_responsive.scss';

.Header {
  display: flex;
  flex-direction: row;
  max-height: 10vh;
}

.Content {
  position: relative;
  top: 0px;
  min-height: 89vh;
  padding-left: 2px;
    padding-right: 2px;
  background-color: darkgrey;
  color: black;
}

.Footer {
  align-items: center;
}
.Logo {
  float: left;
  width: 30px;
  height: 30px;
  margin: 15px 15px 16px 0;
}

.Logo:hover {
  cursor: pointer
}

.Menu {
  width: 100%
}