@import "../styles/_global.scss";
@import '../styles/_responsive.scss';

.header {
  display: flex;
  flex-direction: row;
  max-height: 10vh;

  .logo {
    padding-right: 15px;
  }
}

.content {
  min-height: 89vh;
  padding-left: 20px;
  padding-right: 20px;
  background-color: darkgrey;
  color: black;
}

.footer {
  align-items: center;
}