@import './_normalize.scss';
@import './_responsive.scss';
@import '../../node_modules/antd/dist/antd.dark.css';
@import './variables';

body {
  overflow-x: hidden
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: red
}