$link: rgb(255, 105, 180);
$link-hover: rgb(200, 100, 156);
$link-lightmode: rgb(160, 84, 144);
$background-card: rgba(0, 0, 0, 0.85);
$background-card-light: rgba(255, 255, 255, 0.85);
$header: rgba(31, 31, 31, 0.85);

$background-card-picture: #ECEFF1;
$background-card-body: #274916